.button {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: 150ms ease;
}

.low {
  @extend .button;
  background: none;
  color: var(--text-primary);
  margin: 0 -4px;

  &:hover {
    background: var(--foreground);
  }
}

.medium {
  @extend .button;
  @extend .low;
  margin: 0px;
  background: transparent;
  border: 2px solid var(--foreground-hover);

  &:hover {
    background: var(--foreground-hover);
    scale: 1.06;
  }
}

.high {
  @extend .button;
  background: var(--accent);
  color: var(--text-primary);

  &:hover {
    scale: 1.06;
    background: var(--accent-hover);
  }
}