@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

html {
  // Colors https://www.radix-ui.com/colors
  --background: #0D141F; // Sky 1
  --foreground: #112840; // Sky 3
  --foreground-transparent: #1128406e; // Sky 3 w/ alpha
  --foreground-hover: #113555; // Sky 4
  --text-primary: #EDEEF0; // Slate 12
  --text-secondary: #A9ADB4;
  --accent: #1F6692; // Sky 7
  --accent-bright: #197CAE; // Sky 8
  --accent-transparent: #1f669275; // Sky 7 w/ alpha
  --accent-hover: #197CAE; // Sky 8

  // Radiuseses
  --border-rad: 4px;
  --border-rad-button: 4px;

  // Hover durations
  --button-hover: 250ms;

  // Other
  --content-max-width: 1200px; 
  --content-padding: 0 16px;

  @media (min-width: 850px) {
    --content-padding: 0 28px;
  }
}

body {
  margin: 0;
  background: var(--background);
}

main {
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: var(--content-padding);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: Figtree, sans-serif;
  color: var(--text-primary);
}

a {
  text-decoration: none;
  transition: 150ms ease;

  &:hover {
    color: var(--accent-bright);
  }
}

button {
  font-family: Figtree, sans-serif;
  font-weight: 500;
  border-radius: var(--border-rad-button);

  &:hover {
    cursor: pointer;
  }
}

.mouse-glow {
  opacity: 20%;
  position: absolute;
  box-shadow:
    0 100px 1000px 100px var(--foreground),
    0 -100px 1000px 100px var(--foreground),
    100px 0 1000px 100px var(--foreground),
    -100px 0 1000px 100px var(--foreground),
    70px 70px 1000px 100px var(--foreground),
    -70px 70px 1000px 100px var(--foreground),
    70px -70px 1000px 100px var(--foreground),
    -70px -70px 1000px 100px var(--foreground),
    50px 87px 1000px 100px var(--foreground),
    -50px 87px 1000px 100px var(--foreground),
    50px -87px 1000px 100px var(--foreground),
    -50px -87px 1000px 100px var(--foreground),
    87px 50px 1000px 100px var(--foreground),
    -87px 50px 1000px 100px var(--foreground),
    87px -50px 1000px 100px var(--foreground),
    -87px -50px 1000px 100px var(--foreground);
  pointer-events: none;
  z-index: -1;
}