@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
  // Colors https://www.radix-ui.com/colors
  --background: #0D141F; // Sky 1
  --foreground: #112840; // Sky 3
  --foreground-transparent: #1128406e; // Sky 3 w/ alpha
  --foreground-hover: #113555; // Sky 4
  --text-primary: #EDEEF0; // Slate 12
  --text-secondary: #B0B4BA; // Slate 11
  --accent: #1F6692; // Sky 7
  --accent-transparent: #1f669275; // Sky 7 w/ alpha
  --accent-hover: #197CAE; // Sky 8

  // Radiuseses
  --border-rad: 4px;
  --border-rad-button: 4px;

  // Hover durations
  --button-hover: 250ms;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: Lato, sans-serif;
  color: var(--text-primary);
}

button {
  font-family: Lato, sans-serif;
  border-radius: var(--border-rad-button);

  &:hover {
    cursor: pointer;
  }
}

.mouse-glow {
  opacity: 20%;
  position: absolute;
  box-shadow:
    0 100px 1000px 100px var(--foreground),
    0 -100px 1000px 100px var(--foreground),
    100px 0 1000px 100px var(--foreground),
    -100px 0 1000px 100px var(--foreground),
    70px 70px 1000px 100px var(--foreground),
    -70px 70px 1000px 100px var(--foreground),
    70px -70px 1000px 100px var(--foreground),
    -70px -70px 1000px 100px var(--foreground),
    50px 87px 1000px 100px var(--foreground),
    -50px 87px 1000px 100px var(--foreground),
    50px -87px 1000px 100px var(--foreground),
    -50px -87px 1000px 100px var(--foreground),
    87px 50px 1000px 100px var(--foreground),
    -87px 50px 1000px 100px var(--foreground),
    87px -50px 1000px 100px var(--foreground),
    -87px -50px 1000px 100px var(--foreground);
  pointer-events: none;
  z-index: -1;
}