.icon-button {
  padding: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 150ms ease;
}

.low {
  @extend .icon-button;
  background: none;

  &:hover {
    background: var(--foreground);
  }
}

.medium {
  @extend .icon-button;
  background: var(--foreground);

  &:hover {
    background: var(--foreground-hover);
    scale: 1.03;
  }
}

.high {
  @extend .icon-button;
  background: var(--accent);

  &:hover {
    scale: 1.03;
    background: var(--accent-hover);
  }
}