.navigation {
  display: flex;
  gap: 4px;
  background: var(--foreground);
  border-radius: var(--border-rad);
  padding: 4px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));

  max-width: 550px;
  flex-grow: 1;
  margin: 0px 24px;
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-rad);
  font-weight: 500;
  text-decoration: none;
  padding: 8px;
  width: 100%;
  color: var(--text-secondary) !important;
  transition: var(--button-hover) ease;

  &:hover {
    background: var(--foreground-hover);
    color: var(--text-primary) !important;
  }
}

@media (max-width: 850px) {
  .navigation {
    display: none;
  }
}