nav {
  display: flex;
  gap: 4px;
  background: var(--foreground);
  border-radius: var(--border-rad);
  padding: 4px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-rad);
  text-decoration: none;
  padding: 8px;
  width: 100px;
  color: var(--text-secondary) !important;
  transition: var(--button-hover) ease;

  &:hover {
    background: var(--foreground-hover);
    color: var(--text-primary) !important;
  }
}