.galleryContainer {
  font-family: Figtree, sans-serif;
  font-weight: 600;
}

.galleryLayout {
  display: flex;
  gap: 8px;
}

.imageElement {
  object-fit: cover;
  border-radius: var(--border-rad);
  height: 64px;
  width: 100%;
  min-width: 0px;
  border: 2px solid var(--foreground-hover);
  transition: 110ms ease;

  &:hover {
    transform: scale(1.04);
    cursor: pointer;
  }
}