.skillChip {
  justify-content: center;
  align-items: center;
  background: var(--accent-transparent);
  color: var(--text-secondary);
  border: none;
  border-radius: 20px;
  font-size: 13px;
  padding: 6px 12px;
  transition: 150ms ease;

  &:hover {
    background: var(--accent);
    color: var(--text-primary);
  }
}