button {
  justify-content: center;
  align-items: center;
  background: var(--accent-transparent);
  color: var(--text-secondary);
  border-radius: 20px !important;
  font-size: 13px;
  padding: 6px 14px;
  transition: 150ms ease;

  &:hover {
    background: var(--accent);
    color: var(--text-primary);
  }
}