.skillChip {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: var(--accent-transparent);
  color: var(--text-secondary);
  border: none;
  border-radius: 20px;
  font-size: 13px;
  padding: 6px 12px;
  transition: 150ms ease;

  // Uncomment when clicking on these things actually does something
  &:hover {
    // background: var(--accent);
    // color: var(--text-primary);
  }
}

.skillCount {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--foreground);
  height: 18px;
  width: 18px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  color: var(--text-secondary);
}