---
//@ts-nocheck
import { BaseLayout } from "../../layouts";
import { Button, Spacer } from "../../components";
import sendIcon from '../../assets/icons/send.svg'
---

<BaseLayout pageTitle="Contact">
  <h1>Let's <span class="animated-text">chat</span>.</h1>
  <p>Shoot me an email. Not really sure what we'd talk about to be completely honest. But here ya go.</p>
  <Spacer size="sm" />

  <form name="contact-form" action="/contact/success" netlify>
    <div class="form-container">
      <div>
        <div class="input-container">
          <label for="name">Name</label>
          <input type="text" id="name" name="Name" />
        </div>
        <div class="input-container">
          <label for="email">Email</label>
          <input type="email" id="email" name="Email" />
        </div>
        <div class="input-container">
          <label for="favorite-color">Favorite Color</label>
          <input type="text" id="favorite-color" name="Favorite Color" />
        </div>
  
      <div class="input-container">
        <label>Message</label>
        <textarea name="message" rows="7" />
      </div>
    </div>

    <Spacer size="sm" />

    <Button icon={sendIcon} size="lg" iconSize="sm" emphasis="high">Send</Button>
  </form>
</BaseLayout>

<style lang="scss">
  h1 {  
		font-size: 60px;
		font-weight: 600;
		margin-top: 0px;
		margin-bottom: 4px;
	}

  p {
		font-size: 20px;
		font-weight: 400;
		line-height: 150%;
	}

  .form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 4px;
    color: var(--text-secondary);
  }

  input {
    height: 40px;
    max-width: 100%;
    background: var(--foreground-transparent);
    border: 2px solid var(--foreground);
    border-radius: var(--border-rad);
    outline: none;
    margin-bottom: 16px;
    padding: 0px 10px;
    transition: 150ms ease;

    font-family: Figtree, sans-serif;
    font-size: 18px;
    color: var(--text-primary);

    // Autofill
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus, 
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px var(--background) inset;
    }

    &:focus {
      border: 2px solid var(--accent);
    }
  }

  textarea {
    background: var(--foreground-transparent);
    border: 2px solid var(--foreground);
    border-radius: var(--border-rad);
    outline: none;
    padding: 9px 10px;
    transition: 150ms ease;

    font-family: Figtree, sans-serif;
    font-size: 18px;
    color: var(--text-primary);
    line-height: 150%;

    &:focus {
      border: 2px solid var(--accent);
    }
  }
</style>