---
//@ts-nocheck
import { BaseLayout } from "../../layouts";
import { Button, Spacer } from "../../components";
import sendIcon from '../../assets/icons/send.svg'
---

<BaseLayout 
  pageTitle="Let's Chat"
  pageDescription="Magically send me some internet mail."
>
  <h1>Let's <span class="animated-text">chat</span>.</h1>
  <p>Shoot me a message. Include your email if you'd like a response.</p>

  <Spacer size="sm" />

  <form name="contact-form" action="/contact/success" netlify>
    <div class="form-container">
      <div>
        <div class="input-container">
          <label for="name">Name <span class="required-asterisk">*</span></label>
          <input type="text" id="name" name="Name" required />
        </div>
        <div class="input-container">
          <label for="email">Email</label>
          <input type="email" id="email" name="Email" />
        </div>
        <div class="input-container">
          <label for="favorite-color">Favorite Color</label>
          <input type="color" value="#ffffff" id="favorite-color" name="Favorite Color" />
        </div>
      </div>
      
      <div class="input-container">
        <label>Message <span class="required-asterisk">*</span></label>
        <textarea name="message" rows="7" required />
      </div>
    </div>

    <Spacer size="sm" />

    <Button id="submit-button" icon={sendIcon.src} size="lg" iconSize="sm" emphasis="high">
      Send
    </Button>
  </form>
</BaseLayout>

<style lang="scss">
  h1 {  
		font-size: 60px;
		font-weight: 600;
		margin-top: 0px;
		margin-bottom: 4px;
	}

  p {
		font-size: 20px;
		font-weight: 400;
		line-height: 150%;
	}

  .form-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;

    @media (min-width: 750px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 36px;
    }
  }

  .input-container {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 4px;
    color: var(--text-secondary);
  }

  input {
    height: 40px;
    max-width: 100%;
    background: var(--foreground-transparent);
    border: 2px solid var(--foreground);
    border-radius: var(--border-rad);
    outline: none;
    margin-bottom: 16px;
    padding: 0px 10px;
    transition: border 250ms ease;

    font-family: Figtree, sans-serif;
    font-size: 18px;
    color: var(--text-primary);

    &[type="color"] {
      width: 100%;
      height: 46px;
      padding: 8px;

      &:hover {
        cursor: pointer;
      }

      &:active {
        cursor: auto;
      }
    }

    // Autofill
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus, 
    &:-webkit-autofill:active {
      font-family: Figtree, sans-serif;
      font-size: 18px;
      font-weight: 600;
      -webkit-box-shadow: 0 0 0 30px var(--foreground) inset;
      -webkit-text-fill-color: var(--text-primary);
      -webkit-font-smoothing: antialiased;
    }

    &:focus {
      border: 2px solid var(--accent);
    }
  }

  textarea {
    background: var(--foreground-transparent);
    border: 2px solid var(--foreground);
    border-radius: var(--border-rad);
    outline: none;
    padding: 9px 10px;
    transition: border 150ms ease;

    font-family: Figtree, sans-serif;
    font-size: 18px;
    color: var(--text-primary);
    line-height: 150%;

    &:focus {
      border: 2px solid var(--accent);
    }
  }

  .required-asterisk {
    color: var(--accent-hover);
  }
</style>