---
import { BaseLayout } from "../layouts";
---

<BaseLayout pageTitle="About">
  <p>This is the about page</p>
  <p>
    This page will have some fun information about me, my hobbies, and some
    other stuff I don't know.
  </p>
</BaseLayout>
