---
import { CategoryHeading, HobbyCard, SkillChipList, Spacer } from "../components";
import { BaseLayout } from "../layouts";
import skills from "../data/allSkills";
import { hobbies } from "../data";
---

<BaseLayout pageTitle="About">
  <h1>A little about <span class="animated-text">me</span>.</h1>
  <div class="about-container">
    <div>
      <p class="no-top-margin">
        I unknowingly started my web development journey writing custom CSS for Reddit communities back in 2015. At the
        time, I thought it was their own random way of styling their pages. Around that time I also got into some of my
        hobbies I still enjoy today. I got my first computer and started getting into PC gaming, sim racing, graphic
        design, and some very light programming.
      </p>
      <p>
        I continued these hobbies and interests through high school and decided to study Comupter Science in college
        due to nerdy nature of my hobbies. Makes sense, right? I ended up changing my major to Computer Engineering
        later thinking I would enjoy more of a focus on hardware. Along with that, I randomly enrolled in an Intro to
        Web Development class to fill in some credits.
      </p>
      <p>
        I loved that class so much that I dropped all of my other classes and changed my major to Software Engineering
        to focus completely on web development for the rest of my time in college. It was the perfect balance of my
        passion for both design and programming.
      </p>
    </div>
    <img src="https://dummyimage.com/300x350" alt="alt" class="portrait" />
  </div>
  <Spacer size="md" />

  <CategoryHeading title="Hobbies" bigText />
  <div class="hobby-cards-container">
    {hobbies.map((hobby) => (
      <HobbyCard hobby={hobby} />
    ))}
  </div>
  <Spacer size="lg" />

  <CategoryHeading title="Skills" bigText />
  <SkillChipList skills={skills} />

  <Spacer size="xxl" />
</BaseLayout>

<style lang="scss">
  .about-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 12px;
  }

  .portrait {
    border-radius: 8px;
    width: 300px;
    height: 350px;
    margin-top: 20px;
  }

  .hobby-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;

    @media(min-width: 650px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: 1000px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 22px;
    }
  }

	h1 {
		font-size: 60px;
		font-weight: 600;
		margin-top: 0px;
		margin-bottom: 4px;
	}

  p {
		font-size: 18px;
		font-weight: 400;
		line-height: 150%;
	}

  @media (min-width: 900px) {
    .about-container {
      flex-wrap: nowrap;
      gap: 100px;
    }
  }
</style>