---
import { BaseLayout } from "../layouts";
---

<BaseLayout pageTitle="Artwork">
  <p>This is the artwork page</p>
  <p>
    This page will have images with artwork I've created, like YouTube and
    Twitch banners, and logos.
  </p>
</BaseLayout>
