---
import { BaseLayout } from "../layouts";
---

<BaseLayout pageTitle="Experience">
  <p>This is the experience page</p>
  <p>
    This page will have detailed info about work experience (mostly FamilySearch) with linked projects, public urls to see those projects, and skill tags
  </p>
</BaseLayout>
