---
import { BaseLayout } from "../layouts";
---

<BaseLayout pageTitle="Home">
	<p>This is the home page</p>
	<p>
		It will be a pretty page with an overview of myself, my experience, and my
		projects.
	</p>
</BaseLayout>
