---
// @ts-nocheck
import { BaseLayout } from "../layouts";
import {
	Button,
	Greeting,
	HomeSection,
	SkillChipList,
	Spacer,
} from "../components";
import { allSkills, experience, projects, education } from "../data";
---

<BaseLayout pageTitle="Home">
	<div class="home-container">
		<div class="home-left">
			<Greeting />
			<Spacer size="lg"/>
			<!-- <div class="skills-container-desktop">
				<HomeSection title="Skills" url="/skills">
					<SkillChipList skills={allSkills} />
				</HomeSection>
			</div> -->
		</div>
		<div class="home-right">
			<HomeSection title="Experience" data={experience} />
			<HomeSection title="Projects" data={projects.slice(0, 3)} />
			<HomeSection title="Education" data={education} />
			<!-- <div class="skills-container-mobile">
				<HomeSection title="Skills" url="/skills">
					<SkillChipList skills={allSkills} />
				</HomeSection>
			</div> -->
			<Spacer size="md" />
		</div>
	</div>
</BaseLayout>

<style lang="scss">
	.home-container {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.home-right {
		width: 100%;
	}

	.skills-container {
		&-mobile {
			@media (min-width: 850px) {
				display: none;
			}
		}

		&-desktop {
			@media (max-width: 850px) {
				display: none;
			}
		}
	}

	@media (min-width: 850px) {
		.home-container {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			gap: 96px;
		}

		@media (min-width: 850px) {
			.home-left {
				position: sticky;
				top: 110px; // Keeps home-left in place when scrolling
				width: 100%;
				height: 100%;
			}
		}

		.home-right {
			width: 100%;
		}
	}
</style>
