---
// @ts-nocheck
import { BaseLayout } from "../layouts";
import {
	Button,
	Greeting,
	HomeSection,
	SkillChip,
	Spacer,
} from "../components";
import { experience, projects, education } from "../data";
---

<BaseLayout pageTitle="Home">
	<div class="home-container">
		<Greeting />
		<div class="home-right">
			<HomeSection title="Experience" data={experience} />
			<HomeSection title="Projects" data={projects} />
			<HomeSection title="Education" data={education} />
			<Spacer size="xxl" />
		</div>
	</div>
</BaseLayout>

<style lang="scss">
	.home-container {
		display: flex;
		justify-content: space-between;
		gap: 150px;
		padding-top: 60px;
	}

	.home-right {
		width: 100%;
	}
</style>
