---
// @ts-nocheck
import { BaseLayout } from "../layouts";
import {
	Button,
	Greeting,
	HomeSection,
	SkillChipList,
	Spacer,
} from "../components";
import { allSkills, experience, projects, education } from "../data";
import arrowRight from '../assets/icons/arrow-right.png'
---

<BaseLayout pageTitle="Home">
	<Greeting />
	<Spacer size="xl"/>
	<div class="desktop-layout">
		<div class="desktop-left">
			<HomeSection title="Experience" data={experience} />
			<HomeSection title="Education" data={education} />
		</div>
		<div class="desktop-right">
			<HomeSection title="Projects" data={projects.slice(0, 3)} />
			<Button icon={arrowRight} emphasis="medium" to="/projects" iconRight client:load>
				All Projects
			</Button>
		</div>
	</div>
	<Spacer size="xxl" />
</BaseLayout>

<style lang="scss">
	@media (min-width: 850px) {
		.desktop-layout {
			display: flex;
			flex-direction: row;
			gap: 64px;
		}

		.desktop-left, .desktop-right {
			width: 100%;
		}
	}
</style>
