---
import { BaseLayout } from "../layouts";
import { Greeting } from "../components";
---

<BaseLayout pageTitle="Home">
	<div class="home-container">
		<Greeting />
		<div class="home-right"></div>
	</div>
</BaseLayout>

<style lang="scss">
	.home-container {
		display: flex;
		justify-content: space-between;
		gap: 100px;
		padding-top: 60px;
	}

	.home-right {
		width: 100%;
		height: 2000px;
		background: var(--foreground);
	}
</style>
