---
// @ts-nocheck
import { BaseLayout } from "../layouts";
import {
	Button,
	Experience,
	Greeting,
	HomeSection,
	SkillChip,
	Spacer,
} from "../components";
import fsLogo from "../assets/images/familysearch-logo.png";
---

<BaseLayout pageTitle="Home">
	<div class="home-container">
		<Greeting />
		<div class="home-right">
			<HomeSection title="Experience">
				<Experience
					image={fsLogo.src}
					company="FamilySearch"
					position="Web Developer II"
					tenure="Jan 2023 — Present"
					description="This is a description about how crazy experienced I am. This is a description about how crazy experienced I am. This is a description about how crazy experienced I am. This is a description about how crazy experienced I am. "
					skills={["React", "JavaScript", "CSS", "Jest", "Storybook"]}
				/>
				<Spacer size="xxs" />
				<Experience
					image={fsLogo.src}
					company="FamilySearch"
					position="Web Developer Intern"
					tenure="Aug — Dec 2022"
					description="This is a description about how crazy experienced I am. This is a description about how crazy experienced I am. This is a description about how crazy experienced I am. This is a description about how crazy experienced I am. "
					skills={["React", "JavaScript", "CSS", "Jest", "Storybook"]}
				/>
			</HomeSection>
			<Spacer size="xs" />
			<HomeSection title="Projects" />
			<Spacer size="xs" />
			<HomeSection title="Education" />
		</div>
	</div>
</BaseLayout>

<style lang="scss">
	.home-container {
		display: flex;
		justify-content: space-between;
		gap: 150px;
		padding-top: 60px;
	}

	.home-right {
		width: 100%;
	}
</style>
