---
// @ts-nocheck
import { BaseLayout } from "../layouts";
import {
	Button,
	Greeting,
	HomeSection,
	SkillChip,
	Spacer,
} from "../components";
import { experience, projects, education } from "../data";
---

<BaseLayout pageTitle="Home">
	<div class="home-container">
		<Greeting />
		<div class="home-right">
			<HomeSection title="Experience" data={experience} url="/experience" />
			<HomeSection title="Projects" data={projects} url="/projects" />
			<HomeSection title="Education" data={education} url="/education" />
			<Spacer size="xxl" />
		</div>
	</div>
</BaseLayout>

<style lang="scss">
	.home-container {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.home-right {
		width: 100%;
	}

	@media (min-width: 850px) {
		.home-container {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			gap: 150px;
			padding-top: 60px;
		}

		.home-right {
			width: 100%;
		}
	}
</style>
