---
import { BaseLayout } from "../layouts";
import { projects, categories } from "../data";
---

<BaseLayout pageTitle="Projects">
  <h2 class="category-heading">Web</h2>
  {projects.map((project) => project.category === categories.web && <p>{project.title}</p>)}

  <h2 class="category-heading">Artwork</h2>
  {projects.map((project) => project.category === categories.artwork && <p>{project.title}</p>)}

  <h2 class="category-heading">Mobile</h2>
  {projects.map((project) => project.category === categories.mobile && <p>{project.title}</p>)}

  <p class="temp"><i>Don't forget to add tags for tech used like the home page and link to sites/repos.<br>Also probably show a tag to FamilySearch for projects completed there.</i></p>
</BaseLayout>

<style>
  .temp {
    background: var(--foreground-transparent);
    padding: 16px;
    border-radius: var(--border-rad);
    text-align: center;
    color: var(--text-secondary)
  }

  .category-heading {
    font-size: 36px;
    font-weight: 600;
  }
</style>
