---
// @ts-nocheck
import { BaseLayout } from "../layouts";
import { Button, CategoryHeading, ProjectCard, PhotoGallery, Spacer } from "../components";
import { projects, categories } from "../data";
import allArtwork from '../assets/artwork'
import filterIcon from '../assets/icons/filter.png'
import sortIcon from '../assets/icons/sort.png'
import 'react-photo-view/dist/react-photo-view.css'
---

<BaseLayout pageTitle="Projects" showFAB>
  <div class="page-heading-container">
    <h1 class="page-heading"><span class="animated-text">Stuff</span> I've made.</h1>
    <Spacer size="xl" />
  </div>
  <Spacer size="xxs" />

  <CategoryHeading title="Web" bigText />
  <div class="projects-container">
    {projects.map((project) =>
      project.category === categories.web && (
        <ProjectCard
          id={project.title.toLowerCase().replace(/ /g, "-")}
          project={project}
        />
      )
    )}
  </div>
  <Spacer size="xl" />

  <CategoryHeading title="Mobile" bigText />
  <div class="projects-container">
    {projects.map((project) =>
      project.category === categories.mobile && (
        <ProjectCard
          id={project.title.toLowerCase().replace(/ /g, "-")}
          project={project}
        />
      )
    )}
  </div>
  <Spacer size="xl" />

  <CategoryHeading id="artwork" title="Artwork" bigText />
  <PhotoGallery images={allArtwork} showAll client:load />
  <Spacer size="xxl" />
</BaseLayout>

<style lang="scss">
  .page-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .filters-container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
  }

  .temp {
    background: var(--foreground-transparent);
    padding: 16px;
    border-radius: var(--border-rad);
    text-align: center;
    color: var(--text-secondary);
  }

  .page-heading {
		font-size: 60px;
		font-weight: 600;
		margin-top: 0px;
		margin-bottom: 4px;
  }

  @media (max-width: 1000px) {
    .projects-container {
      grid-template-columns: 1fr 1fr;
      gap: 12px;
    }
  }

  @media (max-width: 650px) {
    .projects-container {
      grid-template-columns: 1fr;
    }
  }
</style>
