---
// @ts-nocheck
import { BaseLayout } from "../layouts";
import { Button, CategoryHeading, ProjectsSection, Spacer } from "../components";
import { projects, categories } from "../data";
import filterIcon from '../assets/icons/filter.png'
import sortIcon from '../assets/icons/sort.png'
---

<BaseLayout pageTitle="Projects">
  <Spacer size="xs" />
  <div class="page-heading-container">
    <h1 class="page-heading">Projects</h1>
    <div class="filters-container">
      <Button icon={filterIcon} iconSize="sm">Filter</Button>
      <Button icon={sortIcon} iconSize="sm">Sort</Button>
    </div>
  </div>
  <CategoryHeading title="Web" />
  <div class="projects-container">
    {projects.map((project) =>
      project.category === categories.web && (
        <ProjectsSection
          id={project.title.toLowerCase().replace(/ /g, "-")}
          project={project}
        />
      )
    )}
  </div>

  <Spacer size="xl" />

  <CategoryHeading title="Mobile" />
  <div class="projects-container">
    {projects.map((project) =>
      project.category === categories.mobile && (
        <ProjectsSection
          id={project.title.toLowerCase().replace(/ /g, "-")}
          project={project}
        />
      )
    )}
  </div>

  <Spacer size="xl" />

  <CategoryHeading title="Artwork" />

  <Spacer size="xxl" />
</BaseLayout>

<style lang="scss">
  .page-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .filters-container {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .temp {
    background: var(--foreground-transparent);
    padding: 16px;
    border-radius: var(--border-rad);
    text-align: center;
    color: var(--text-secondary);
  }

  .page-heading {
    font-size: 36px;
    margin: 0px;
  }

  @media (max-width: 850px) {
    .projects-container {
      grid-template-columns: 1fr;
      gap: 12px;
    }
  }
</style>
