---
import { BaseLayout } from "../layouts";
---

<BaseLayout pageTitle="Projects">
  <p>This is the projects page</p>
  <p>
    It will have projects like Nyoom and Just Pick Something, with tags for
    skills and technologies used to make them.
  </p>
</BaseLayout>
