---
import { BaseLayout } from "../layouts";
---

<BaseLayout pageTitle="Skills">
  <p>This is the skills page</p>
  <p>
    This page will include skills tags included in job experiences and projects
  </p>
</BaseLayout>
