---
const { images } = Astro.props
import { PhotoGallery, Spacer } from '.'
---

<section class="card-container">
  {images?.length && (
    <PhotoGallery images={images} client:load />
    <Spacer size="xs" />
  )}
  <slot />
</section>

<style lang="scss">
  .card-container {
    display: flex;
    flex-direction: column;
    background: var(--foreground-transparent);
    padding: 16px;
    border-radius: var(--border-rad);
  }
</style>