---
const { title, dense, bigText } = Astro.props
import { Spacer } from '.'
---

<div class="category-heading-container">
  <h2 class=`category-heading ${bigText ? 'big-text' : ''}`>{title}</h2>
  <div class="category-heading-line" />
</div>
{!dense && <Spacer size="xs" />}

<style lang="scss">
  .category-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .category-heading-line {
    height: 2px;
    border-radius: 1px;
    width: 100%;
    background: var(--accent);
  }

  .category-heading {
    font-size: 28px;
    font-weight: 600;
    white-space: nowrap;
    margin: 8px 0px;
  }

  .big-text {
    font-size: 32px;
  }
</style>