---
// @ts-nocheck
const { image, company, tenure, skills } = Astro.props;
import { Bleed, SkillChip, Spacer } from ".";
import fsLogo from "../assets/images/familysearch-logo.png";
---

<Bleed sides={16}>
  <div class="experience-container">
    <div class="company-container">
      <img class="company-image" src={fsLogo.src} alt="FamilySearch logo" />
      <div>
        <h3 class="company">{company}</h3>
        <p class="tenure">{tenure}</p>
      </div>
    </div>
    <h4 class="position">Web Developer II</h4>
    <p class="description">
      Building and maintaining robust React components and pages across the
      <a href="https://familysearch.org/memories" target="_blank">Memories</a> product.
      Frequent contributor to our internal design system, building reusable components
      used across the site. Closely mentored a web developer intern including onboarding,
      regular guidance, and fostering independent problem-solving skills.
    </p>
    <h4 class="position">Web Developer Intern</h4>
    <p class="description">
      Converted the site's <a href="https://familysearch.org/es" target="_blank"
        >international home page</a
      > from Polymer to React with support for 40 languages. Discovered and improved
      accessibility issues across our team's product. Contributed to our internal
      design system.
    </p>
    <!-- TODO: Have the skills chips in an expander when there are too many of them. -->
    <div class="skill-chips-container">
      {skills.map((skill) => <SkillChip text={skill} />)}
    </div>
  </div>
  <Spacer size="nano" />
</Bleed>

<style lang="scss">
  .experience-container {
    padding: 16px;
    border-radius: var(--border-rad);
    transition: 250ms ease;

    &:hover {
      background: var(--foreground-transparent);
    }
  }

  .company-container {
    display: flex;
    align-items: center;
    gap: 12px;

    & > * p {
      margin: 0px;
    }
  }

  .company {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 4px;

    &-image {
      border-radius: 6px;
      height: 44px;
      width: 44px;
      background: var(--text-primary);
    }
  }

  .position {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .description {
    line-height: 150%;
    margin-top: 0px;
    color: var(--text-secondary);
  }

  .tenure {
    font-size: 14px;
    color: var(--text-secondary);
    margin: 0px;
  }

  .skill-chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
</style>
