---
import { Spacer } from '.'
const date = new Date()
const currentYear = date.getFullYear()
---

<footer class="footer-container">
  <Spacer size="xl" />
  <p class="copyright">&copy; {currentYear} Ryan Bey</p>
  <Spacer size="md" />
</footer>

<style lang="scss">
  .footer-container {
    margin: 0 auto;
    max-width: var(--content-max-width);
    padding: var(--content-padding);
  }

  .copyright {
    font-size: 14px;
    color: var(--text-secondary);
    // text-align: center;
    margin: 0;
  }
</style>