---
// @ts-nocheck
import { Blob, HomeSection, BlobCanvas, SkillChipList, Social, Spacer } from ".";
---

<div class="greeting-container">
	<div>
		<h1>Hi, I'm <span class="animated-text">Ryan</span>.</h1>
		<p>
			I'm a detail-oriented and UX-driven web developer passionate about creating
			practical user experiences and writing beautiful code.
		</p>
		<p>
			I have three years of professional, enterprise-level React experience crafting pages
			viewed by millions.
		</p>
		<Spacer size="xxs" />
		<Social />
	</div>
	<BlobCanvas client:load>
</div>

<style lang="scss">
	.greeting-container {
		display: flex;
	}

	h1 {
		font-size: 60px;
		font-weight: 600;
		margin-top: 0px;
		margin-bottom: 4px;
	}

	p {
		font-size: 20px;
		font-weight: 400;
		line-height: 150%;
	}

	@keyframes gradientAnimation {
		0% {
			background-position: 0;
		}
		to {
			background-position: 100%;
		}
	}
</style>
