---
import { Bleed, Navigation, Social } from ".";
---

<header>
  <div class="header-content">
    <a href="/"><p>ryanbey.dev</p></a>
    <Navigation client:load transition:persist />
    <Bleed sides={8}>
      <Social compact />
    </Bleed>
  </div>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    background: linear-gradient(to bottom, var(--background) 70%, #ffffff00);
    padding-bottom: 15px;
    z-index: 1;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: var(--content-padding)
  }

  p {
    font-size: 20px;
    font-weight: 700;
  }
</style>
