---
import { Bleed, Navigation, Social } from ".";
---

<header>
  <p>ryanbey.dev</p>
  <Navigation client:load transition:persist />
  <Bleed sides={8}>
    <Social compact />
  </Bleed>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    /* backdrop-filter: blur(4px); */
  }

  p {
    font-size: 20px;
    font-weight: 700;
  }
</style>
