---
const { hobby } = Astro.props
import { Card } from ".";
---

<Card actions={hobby.links}>
  <h3>{hobby.title}</h3>
  <p>{hobby.description}</p>
</Card>

<style lang="scss">
  h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
  }

  p {
    color: var(--text-secondary);
    font-size: 17px;
    margin-bottom: 0px;
    line-height: 150%;
  }
</style>
