---
const { title } = Astro.props;
import { Bleed } from ".";
---

<section>
  <h2 class="home-section-title">{title}</h2>
  <Bleed sides={16}>
    <slot />
  </Bleed>
</section>

<style>
  .home-section-title {
    font-size: 28px;
    margin-bottom: 16px;
  }
</style>
