---
import { Image } from "astro:assets";
const { icon, title, emphasis } = Astro.props;

let emphasisClassName = "";
switch (emphasis) {
  case "low":
    emphasisClassName = "lowEmphasis";
    break;
  case "medium":
    emphasisClassName = "mediumEmphasis";
    break;
  case "high":
    emphasisClassName = "highEmphasis";
    break;
  default:
    emphasisClassName = "lowEmphasis";
}
---

<button title={title} class={emphasisClassName}>
  <Image src={icon} alt="" aria-hidden />
</button>

<style lang="scss">
  .button {
    padding: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 150ms ease;

    &:hover {
      cursor: pointer;
    }
  }

  .lowEmphasis {
    @extend .button;
    background: none;

    &:hover {
      background: var(--foreground);
    }
  }

  .mediumEmphasis {
    @extend .button;
    background: var(--foreground);

    &:hover {
      background: var(--foreground-hover);
      scale: 1.03;
    }
  }

  .highEmphasis {
    @extend .button;
    background: var(--accent);

    &:hover {
      scale: 1.03;
      background: var(--accent-hover);
    }
  }
</style>
