---
const { description, imageUrl, title } = Astro.props;
---

<div class="list-item-container">
  {
    imageUrl && (
      <div class="list-item-image-container">
        <img class="list-item-image" src={imageUrl} alt={`${title} logo`} />
      </div>
    )
  }
  <div>
    <h3 class="list-item-title">{title}</h3>
    <p class="list-item-description">{description}</p>
  </div>
</div>

<style>
  .list-item-container {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .list-item-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: 38px;
    width: 38px;
    padding: 6px;
    background: var(--foreground);
  }

  .list-item-image {
    width: 100%;
  }

  .list-item-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 4px;
  }

  .list-item-description {
    font-size: 14px;
    color: var(--text-secondary);
    margin: 0px;
  }

  .list-item-text-container {
    flex-grow: 1;
  }

  .list-item-right {
    margin-right: 8px;
  }
</style>
