---
// @ts-nocheck
import { SkillChip } from ".";
const { skills } = Astro.props;
const isObject = skills && !!skills[0].skillName || false;
---

<!-- TODO: Have the skills chips in an expander when there are too many of them. -->
<div class="skill-chips-container">
  {
    skills?.map((skill) => (
      <SkillChip
        text={skill.skillName || skill}
        count={skill.count || null}
        client:load
      />
    ))
  }
</div>

<style>
  .skill-chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
</style>
