---
import { Button, IconButton } from ".";
import gitHubIcon from "../assets/icons/github-logo.svg";
import linkedInIcon from "../assets/icons/linkedin-logo.svg";

const { compact } = Astro.props;
---

<div class={compact ? 'social-container' : 'social-container gap'}>
  {compact ? (
    <IconButton icon={gitHubIcon} title="GitHub" emphasis="low"/>
    <IconButton icon={linkedInIcon} title="LinkedIn" emphasis="low"/>
  ) : (
    <Button icon={gitHubIcon} emphasis="medium">GitHub</Button>
    <Button icon={linkedInIcon} emphasis="medium">LinkedIn</Button>
  )}
</div>

<style>
  .social-container {
    display: flex;
  }

  .gap {
    gap: 4px;
  }
</style>
