---
// @ts-nocheck
import { Button, IconButton } from ".";
import gitHubIcon from "../assets/icons/github-logo.svg";
import linkedInIcon from "../assets/icons/linkedin-logo.svg";

const { compact } = Astro.props;
---

<div class={compact ? 'social-container' : 'social-container gap'}>
  {compact ? (
    <IconButton 
      icon={gitHubIcon}
      title="GitHub"
      emphasis="low"
      to="https://github.com/ryanbey"
      target="_blank"
      client:load
    />
    <IconButton
      icon={linkedInIcon}
      title="LinkedIn"
      emphasis="low"
      to="https://linkedin.com/in/ryanbey"
      target="_blank"
      client:load
    />
  ) : (
    <Button
      icon={gitHubIcon}
      emphasis="low"
      to="https://github.com/ryanbey"
      target="_blank"
      client:load
    >
      GitHub
    </Button>
    <Button
      icon={linkedInIcon}
      emphasis="low"
      to="https://linkedin.com/in/ryanbey"
      target="_blank"
      client:load
    >
      LinkedIn
    </Button>
  )}
</div>

<style>
  .social-container {
    display: flex;
  }

  .gap {
    gap: 12px;
  }
</style>
