---
const { size } = Astro.props;
---

<div class={size} aria-hidden></div>

<style>
  .nano {
    height: 8px;
  }

  .xxs {
    height: 12px;
  }

  .xs {
    height: 16px;
  }

  .sm {
    height: 24px;
  }

  .md {
    height: 32px;
  }

  .lg {
    height: 48;
  }

  .xl {
    height: 64px;
  }

  .xxl {
    height: 128px;
  }
</style>
