---
import { Spacer } from ".";
const { heading, text, secondary } = Astro.props;
---

{heading ? <h4 class="text-block-heading">{heading}<span class="text-block-secondary"> • {secondary}</span></h4> : <Spacer size="xs" />}
<p class="text-block-text">{text}</p>

<style lang="scss">
  .text-block-heading {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .text-block-text {
    font-size: 17px;
    line-height: 150%;
    margin-top: 0px;
    color: var(--text-secondary);

    &:last-of-type {
      margin-bottom: 0px;
    }
  }

  .text-block-secondary {
    color: var(--text-secondary);
    font-size: 15px;
  }
</style>
