---
import { Spacer } from ".";
const { heading, text } = Astro.props;
---

{heading ? <h4 class="text-block-heading">{heading}</h4> : <Spacer size="xs" />}
<p class="text-block-text">{text}</p>

<style lang="scss">
  .text-block-heading {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .text-block-text {
    line-height: 150%;
    margin-top: 0px;
    color: var(--text-secondary);

    &:last-of-type {
      margin-bottom: 0px;
    }
  }
</style>
