---
import { ViewTransitions } from "astro:transitions";
import { Footer, Header, Spacer } from "../components";
const { pageTitle } = Astro.props;
import "../styles/globals.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | ryanbey.dev</title>
    <ViewTransitions />
  </head>

  <body>
    <Header />
    <main>
      <slot />
      <div class="mouse-glow" transition:persist></div>
    </main>
    <!-- <Spacer size="lg" />
    <Footer /> -->
  </body>
</html>

<script>
  // Thank you Copilot
  document.addEventListener("astro:page-load", () => {
    const glow = document.querySelector(".mouse-glow") as HTMLElement;
    let mouseX = 0;
    let mouseY = 0;

    const updateGlowPosition = () => {
      glow.style.left = mouseX + window.scrollX - glow.offsetWidth / 2 + "px";
      glow.style.top = mouseY + window.scrollY - glow.offsetHeight / 2 + "px";
    };

    document.addEventListener("mousemove", (e) => {
      mouseX = e.clientX;
      mouseY = e.clientY;
      updateGlowPosition();
    });

    window.addEventListener("scroll", updateGlowPosition);
  });
</script>
