---
import { ViewTransitions } from "astro:transitions";
import { Header } from "../components";
const { pageTitle } = Astro.props;
import "../styles/globals.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>

  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <div transition:persist class="mouse-glow"></div>
  </body>
</html>

<script>
  document.addEventListener("astro:page-load", () => {
    const glow = document.querySelector(".mouse-glow") as HTMLElement;
    document.addEventListener("mousemove", (e) => {
      glow.style.left = e.clientX - glow.offsetWidth / 2 + "px";
      glow.style.top = e.clientY - glow.offsetHeight / 2 + "px";
    });
  });
</script>
