---
import { ClientRouter, fade } from "astro:transitions";
import { FloatingActionButton, Footer, Header, PageHead, Spacer } from "../components";
import ogImage from '../assets/seo/ogimage.jpg'
const { pageTitle, pageDescription, noSuffix, showFAB } = Astro.props;
import "../styles/globals.scss";

const socialTitle = `${pageTitle}${noSuffix ? '' : ' | Ryan Bey'}`
const socialDescription = pageDescription || 'Detail oriented, UX-driven web developer.'
---

<html lang="en">
  <head>
    <PageHead title={socialTitle} description={socialDescription} image={ogImage.src} />
    <ClientRouter />
  </head>
  
  <body>
    <Header />
    <Spacer size="md" />
    <main transition:animate={fade({duration: '500ms'})}>
      <slot />
      <div class="mouse-glow" transition:persist />
      {showFAB && (
        <div class="fab-container">
          <FloatingActionButton client:load />
        </div>
      )}
    </main>
    <Footer />
  </body>
</html>

<style>
  .fab-container {
    position: relative;
    bottom: 0;
    margin: 0 auto;
    width: var(--content-max-width);
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const glow = document.querySelector(".mouse-glow") as HTMLElement;
    let mouseX = 0;
    let mouseY = 0;

    const updateGlowPosition = () => {
      glow.style.left = mouseX + window.scrollX - glow.offsetWidth / 2 + "px";
      glow.style.top = mouseY + window.scrollY - glow.offsetHeight / 2 + "px";
    };

    document.addEventListener("mousemove", (e) => {
      mouseX = e.clientX;
      mouseY = e.clientY;
      updateGlowPosition();
    });

    window.addEventListener("scroll", updateGlowPosition);
  });
</script>
